#header 
{
    padding:20px 0 20px 0;
    border-bottom:3px solid #a4c735;
    box-shadow:10px 10px 10px;
}

.no-ul-style 
{
    list-style:none;
}

.ul-inline li
{
    display:inline-block;
    margin-right:10px;
}

.color-gray 
{
    color:#999999;
}


.color-white 
{
    color:#fff;
}

.color-white-light 
{
    color:#e5e5e5;
}

.color-green 
{
    color:#a4c735;
}


.btn-green-dark
{
    background:#6b8518;
    color:#ebebeb;
}

.btn-green
{
    background:#a4c735;
    color:#fff;
}

.btn-mod 
{
    padding-left:20px;
    padding-right:20px;
}

.btn-mod-3
{
    padding-left:60px;
    padding-right:60px;
}

.size-8 
{
    font-size:5em;
}

.size-7
{
    font-size:6em;
}

.size-6
{
    font-size:4em;
}

.size-5
{
    font-size:3em;
}

.size-3
{
    font-size:1.2em;
}

.size-4
{
    font-size:1.4em;
}

.size-1 
{
    font-size:0.8em;
}

.size-2 
{
    font-size:1em;
}

.text-shadow-default 
{
    text-shadow:3px 3px 3px #000;
}
.text-shadow-1
{
    text-shadow:2px 2px 3px #000;
}

.fullwidth 
{
    width:100%;
}


.header-home 
{
    background: url('../img/bg-header-home.png' ) no-repeat;
    min-height:570px;
}


.bg-gray
{
    background:#f9f9f9;
}

.bg-white
{
    background:#fff;
}

.content-news-item 
{
    padding:10px 20px 10px 20px;
    box-shadow:0px 0px 10px #e7e7e7;
}

.bold 
{
    font-weight:bold;
}

.scrolloff 
{
    pointer-events: none;
}